

<br/>
<div class="nested-fields">
  <div class="container-fluid">
    <div class="well clearfix inicio">
      <div class="row">
        <div class="col-md-3">
          <%= f.text_field :tratamiento, class: 'form-control required', placeholder: 'Tratamiento',  :id => "tratamiento", :onkeyup => "edValueKeyPress()", :onkeyup => "edValueKeyPress()"  %>
            
          </div>

        <div class="col-md-3">

          <%= f.text_field :via_acceso, class: 'form-control required', placeholder: 'Via Acceso',  :id => "via_acceso", :onkeyup => "edValueKeyPress()", :onkeyup => "edValueKeyPress()"  %>


          </div>

        <div class="col-md-3">


          <%= f.text_field :descripcion, class: 'form-control required', placeholder: 'Descripción',  :id => "descripcion", :onkeyup => "edValueKeyPress()", :onkeyup => "edValueKeyPress()"  %>
          </div>



        <div class="col-md-2">
          <%= link_to_remove_association 'Eliminar', f, :class =>"btn btn-danger color_blanco custom btn-sm" %></div>

      </div>

    </div>
  </div>
</div>

<style type="text/css">
  .inicio
{

    margin-bottom: 0px;
    padding: 10px;
    height: 60px;
}
.btn-danger{
  margin-top: 0px !important;
  margin-right: 20px;
}

</style>
